@font-face {
  font-family: "iconfont"; /* Project id 3473458 */
  src: url('iconfont.woff2?t=1655603914689') format('woff2'),
       url('iconfont.woff?t=1655603914689') format('woff'),
       url('iconfont.ttf?t=1655603914689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhixiangqing:before {
  content: "\e8ab";
}

.icon-qingtian:before {
  content: "\e633";
}

.icon-kongqiwendu:before {
  content: "\ea33";
}

