@import "../shared/_helper.scss";

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  > header {
    width: px(2420);
    margin: 0 auto;
    height: px(99);
    background-size: cover;
  }
  > footer{
    border: 1px solid #2e54a3;
    height: px(60);
    margin-top:px(12);
    color:#325cb1;
    background: #0c1139;
    font-size: px(22);
    text-align: center;
    line-height: px(60);
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #0e325f,inset 0 0 2px 0 #0e325f;
  }
  > main {
    width: px(2420);
    margin: 0 auto;
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);
    padding-top: px(31);
     .border {
      border: 1px solid #0764bc;
      border-radius: 4px;
      box-shadow: 0 0 2px 0 #0e325f,inset 0 0 2px 0 #0e325f;
      position: relative;
      background: #0c1139;
      color: white;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 
        17px 0 0 -16px #0e325f,  //右边
        -17px 0 0 -16px #0e325f,  //左边
        0 17px 0 -16px #0e325f,  //下边
        0 17px 0 -16px #0e325f, // 上边
        9px 0 0 -8px #0d4483,  //右边
        -9px 0 0 -8px #0d4483,  //左边
        0 9px 0 -8px #0d4483,  //下边
        0 -9px 0 -8px #0d4483; // 上边
      }
    }
    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section3 {
      grid-area: box3;
    }
    > .section4 {
      grid-area: box4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section5 {
      grid-area: box5;
    }
    .管辖统计{
      height: px(315);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items:center;
       h2{
        border: 1px solid #0a4e93;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        padding:px(10) px(28);
        line-height: px(22);
      }
      .echart{
        width: 100%;
        flex: 1;
      }
    }
    .破获排名{
      display: flex;
      flex-direction: column;
      height: px(440);
      text-align: center;
      align-items: center;
      position: relative;
      h2{
        border: 1px solid #0a4e93;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        padding:px(10) px(28);
        line-height: px(22);
      }
      .echart{
        width: 100%;
        flex: 1;
      }
      .papm1{
        display: flex;
        flex-direction: column;
        position: absolute;
        font-size: px(16);
        bottom: px(12);
        right: px(140);
        color: #627e9e;
        .papm11{
        position: absolute;
        left: px(-25);
        bottom: px(3);  
          width: px(20);
          height: px(16);
          background: linear-gradient(90deg, rgba(31,51,249,1) 0%, rgba(3,158,253,1) 100%);
        }
      }
      .papm2{
        position: absolute;
        font-size: px(16);
        bottom: px(12);
        right: px(20);
        color: #627e9e;
        .papm22{
          position: absolute;
          left: px(-25);
          bottom: px(3);  
            width: px(20);
            height: px(16);
            background: linear-gradient(90deg, rgba(185,41,232,1) 0%, rgba(99,111,223,1) 100%);
          }
      }
    }
    .趋势分析{
      height: px(365);
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      > h2{
        border: 1px solid #0a4e93;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        padding:px(10) px(28);
        line-height: px(22);
      }
      .echart{
        width: 100%;
        flex: 1;
      }
    }
    .时段分析{
      height: px(390);
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      >h2{
        border: 1px solid #0a4e93;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        padding:px(10) px(28);
        line-height: px(22);
      }
      .echart{
        flex: 1;
        width: 100%;
      }
    }
    .战果数对比{
        height: px(390);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       > h2{
        border: 1px solid #0a4e93;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        padding:px(10) px(28);
        line-height: px(22);
       }
       table{
         margin-top:px(28);
         border: 1px solid #0a4e93 ;
         border-collapse: collapse;
         font-size:px(22);              
         thead{
           th{
            height: px(70);
            border: 1px solid #0a4e93 ;
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
           }
         }
         tbody{
           >tr,td{
             border: 1px solid #0a4e93 ;
           }
           td{
             width: px(80);
             height: px(60);
             background: #1c2456;
           }
         }
       }
    }
    .大地图{
      height: px(808);
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
     > h2{
      border: 1px solid #0a4e93;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      font-size: px(22);
      padding:px(10) px(28);
      line-height: px(22);
     }
     .echart{
       width: 100%;
         flex: 1;
      }
    }
    .年龄段分布{
      height: px(390);
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
     > h2{
      border: 1px solid #0a4e93;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      font-size: px(22);
      padding:px(10) px(28);
      line-height: px(22);
     }
     .年龄段分布三图{
       height: px(300);
       width: 100%;
       border:1px solid red;
       padding: px(20) px(30);
       display: flex;
       flex-direction: row;
       .图{
       border:1px solid red;
       width:33%;
       }
     }
    }
  }
}
